@font-face {
  font-family: 'Advent Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Advent Pro Regular'), local('AdventPro-Regular'), url(css/font/advent-pro-400.woff) format('woff');
}
@font-face {
  font-family: 'Advent Pro Medium';
  font-style: normal;
  font-weight: 500;
  src: local('Advent Pro Medium'), local('AdventPro-Medium'), url(css/font/advent-pro-500.woff) format('woff');
}
@font-face {
  font-family: 'Advent Pro SemiBold';
  font-style: normal;
  font-weight: 600;
  src: local('Advent Pro SemiBold'), local('AdventPro-SemiBold'), url(css/font/advent-pro-600.woff) format('woff');
}
@font-face {
  font-family: 'Advent Pro Bold';
  font-style: normal;
  font-weight: 700;
  src: local('Advent Pro Bold'), local('AdventPro-Bold'), url(css/font/advent-pro-700.woff) format('woff');
}

body {
	background-image: url(img/background.png);
	background-repeat: no-repeat;
	-moz-animation: changecolor 240s infinite linear;
	-webkit-animation: changecolor 240s infinite linear;
	-o-animation: changecolor 240s infinite linear;
	animation: changecolor 240s infinite linear;
  	font-family: 'Advent Pro', sans-serif;
	color: white;
}

@-moz-keyframes changecolor {
	0% {
		background-color: rgb(242,130,91);
	}
	25% {
		background-color: blue;
	}
	50% {
		background-color: green;
	}
	75% {
		background-color: yellow;
	}
	100% {
		background-color: #8B4513;
	}

}

@-webkit-keyframes changecolor {
	0% {
		background-color: rgb(242,130,91);
	}
	25% {
		background-color: blue;
	}
	50% {
		background-color: green;
	}
	75% {
		background-color: yellow;
	}
	100% {
		background-color: #8B4513;
	}
}

@-o-keyframes changecolor {
	0% {
		background-color: rgb(242,130,91);
	}
	25% {
		background-color: blue;
	}
	50% {
		background-color: red;
	}
	75% {
		background-color: yellow;
	}
	100% {
		background-color: #8B4513;
	}
}

@keyframes changecolor {
	0% {
		background-color: rgb(242,130,91);
	}
	25% {
		background-color: blue;
	}
	50% {
		background-color: red;
	}
	75% {
		background-color: yellow;
	}
	100% {
		background-color: #8B4513;
	}
}

.top-menu {
	width: 100%;
	position: absolute;
	top: 0px;
	right: 0px;
}

.top-menu li {
	display: inline;
}

.top-menu li a {
	float: right;
	display: inline;
	text-decoration: none;
	color: #ffffff;
	font-size: 26px;
	text-shadow: 0px 0px 5px #444;
	margin: 23px 20px 5px 10px;
	border-bottom: 2px solid transparent;
	padding-bottom: 2px;
}

.top-menu .logo {
	position: relative;
	top: -21px;
}

.top-menu .logo img, .top-menu li a, .footer .logo img {
	-webkit-transition: all 0.3s ease-in;
	-moz-transition: all 0.3s ease-in;
	-o-transition: all 0.3s ease-in;
	transition: all 0.3s ease-in;
	cursor: pointer;
}

.top-menu .menu-link:hover, .top-menu .menu-link-active {
	text-shadow: 0px 0px 4px #ffffff;
	border-bottom: 2px solid rgba(255,255,255,0.3);
}

.top-menu .logo:hover img, .footer .logo:hover img {
	-webkit-transform: rotate(360deg);
	-moz-transform: rotate(360deg);
	transform: rotate(360deg);
}

.main-body {
	margin-top: 100px;
}

.main-box {
	position: relative;
	cursor: pointer;
	border-radius: 3px;
	border: 2px solid #ffffff;
	background-color: #808990;
	opacity: 0.9;
	-webkit-transition: all 0.7s ease-in;
	-moz-transition: all 0.7s ease-in;
	-o-transition: all 0.7s ease-in;
	transition: all 0.7s ease-in;
}

.content-box {
	width: 96%;
	height: auto;
	margin: 0 auto;
	padding: 10px;
}

.menu-body:after {
}

h1 {
  	font-family: 'Advent Pro Bold', sans-serif;
	font-size: 100px;
	text-align: center;
	background: url(img/elephants.jpg) fixed;
	-webkit-text-fill-color: transparent;
	text-fill-color: transparent;
	-webkit-background-clip: text;
	background-clip: text;
	display: block;
	line-height: 140%;
	text-transform: uppercase;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	letter-spacing: 50px;
	margin-bottom: none;
}

h2 {
  	font-family: 'Advent Pro', sans-serif;
	font-size: 30px;
	text-align: center;
	display: block;
	line-height: 140%;
	text-transform: uppercase;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	letter-spacing: 10px;
	margin-bottom: none;
}


.social-bar {
	position: fixed;
	bottom: 0px;
	right: 0px;
	margin: 5px;
	z-index: 1000;
}

.social-bar a img {
	margin: 0px 0px;
	-webkit-transition: all 0.3s ease-in;
	-moz-transition: all 0.3s ease-in;
	-o-transition: all 0.3s ease-in;
	transition: all 0.3s ease-in;
		
}

.social-bar a:hover img {
	box-shadow: 0px 0px 15px #ffffff;
}

.spin-menu {
	width: 900px;
	height: 300px;
	margin: 0 auto;
	position: relative;
	top: 100px;
	/*border: 2px solid #ffffff;*/
	border-radius: 3px;
	padding: 0px 50px 0px 50px;
	/*box-shadow: 5px 5px 10px rgba(0,0,0,0.5);*/
	/*background-color: #808990;*/
	opacity: 0.85;
	font-size: 32px;
	color: white;
	font-weight: bold;
	-webkit-transition: background-color 1.5s;
	-moz-transition: background-color 1.5s;
	-o-transition: background-color 1.5s;

}

.spin-box {
	margin: 0px 20px 0px 20px;
	width: 20%;
	height: 100%;
	color: #000;
	display: inline;
	float: left;
}

.spin-box div {
	position: relative;
	width: 100%;
	top: 23%;
	height: 50%;
	cursor: pointer;
	border-radius: 3px;
	border: 2px solid #ffffff;
	background-color: #808990;
	opacity: 0.8;
	-webkit-transition: all 0.7s ease-in;
	-moz-transition: all 0.7s ease-in;
	-o-transition: all 0.7s ease-in;
	transition: all 0.7s ease-in;
}

.spin-box:hover div {
	-webkit-box-shadow: 0px 0px 30px rgba(0,0, 0, 0.5);
	-moz-box-shadow: 0px 0px 30px rgba(0,0, 0, 0.5);
	box-shadow: 0px 0px 30px rgba(0,0, 0, 0.5);
	-webkit-transform: rotate(720deg) scale(2.5);
	-moz-transform: rotate(720deg) scale(2.5);
	transform: rotate(720deg) scale(2.5);
	z-index: 999;
	opacity: 0.9;
	background-color: #808990;
}

.blog-body, .work-body, .contact-body, .about-body {
	display: none;
}

.footer {
	text-align: center;
	padding: 0px;
	margin-top: 50px;
}

.footer .logo {
	margin: 0px 10px;
}

.footer-right {
}

.footer-left, .footer-right {
	font-size: 13px;
	display: inline;
	bottom: 14px;
	position: relative;
}